.flex{
    display:flex
}
.item-center{
    align-items:center;
}
.justify-center{
    justify-content:center;
}
.space-between{
    justify-content:space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
